# compiled files #
build/*
CMakeFiles/*
*.cmake
CMakeLists.txt
CMakeCache.txt

# visual studio trash #
.vs/*
Debug/*
HolyCow.dir/*
Win32/*
x64/*
*.vcxproj
*.filters
*.sln
*.user

# apple trash #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
